// variables
dark-grey = #444
border-size = 3px


// mixins
side-borders(size, type, color)
	border-left size type color
	border-right size type color

*
	font-family 'Poiret One', cursive !important


body 
	background-image url('../img/bg.jpg')
	background-size cover
	background-attachment fixed
	background-position center center
	

#main-side
	padding 0
	background-color #fff
	side-borders(2px, solid, dark-grey)
	header
		color #fff
		margin-top -20px
		background-color dark-grey 
		padding 20px
	
#main-content
	padding 20px
	.streamer-info-box
		margin-top 20px
		max-height 100px
		box-shadow 6px 6px 20px -10px dark-grey
		border-radius (50 + border-size) px
		transform-origin 0% 100%
		animation-name show-streamer-info
		animation-duration 1s
		img.streamer-logo
			border-radius 50px
			box-shadow 10px 10px 8px -7px grey
		div.streamer-info
			display inline-block
			.streamer-name
				width 200px
				font-size 1.5em
				margin-left 20px
				float left
				& a,a:hover, a:visited
					text-decoration none
			.streamer-status
				float left
				font-size 1em
				overflow hidden
	

@keyframes show-streamer-info {
	0% {
		transform  scaleX(0.1)
	}
	
	100% {
		
	}
}
