// variables
dark-grey = #444



// mixins
side-borders(size, type, color)
	border-left size type color
	border-right size type color

*
	font-family 'Poiret One', cursive !important


body 
	background-image url('../img/bg.jpg')
	background-size cover
	background-attachment fixed
	background-position center center
	

#main-side
	padding 0
	background-color #fff
	side-borders(2px, solid, dark-grey)
	header
		color #fff
		margin-top -20px
		background-color dark-grey 
		padding 20px
	
#main-content
	padding 10px
	.streamer-info-box
		border-radius 50px
		border 1px solid grey
		img.streamer-logo
			border-radius 50px
		div.streamer-info
			display inline-block
			.streamer-name
				font-size 28px
				margin-right 20px
			.streamer-status
				font-size 20px
				
			